.body1{
   background-color: rgb(224, 218, 229);
}
 
marquee{
  /* margin-left:200px; */
  padding-left: 400px;
  width:"500px";
  height:"100px";
  border: 3px solid rgb(135, 23, 234);
  border-radius: 30%;
  text-align: center;
}

.nav-bar{
    background-color: rgba(164, 156, 236, 0.74);
    color: rgba(249, 249, 249, 0.961);    
}

.nav-bar 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(145, 116, 247, 0.667);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(167, 217, 241);
    color:rgb(244, 255, 251)
  }



.flex-container{
  display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }


h1{
   /* background-color: rgba(220, 196, 236, 0.89);  */
    color: rgb(233, 27, 27);
    width: 700px;
}

.card{
  height: 500px;
  width: 400px;
  border: 3px solid red ;
}

.card>img{
  width: auto;
  height: auto;
}